/* -------- ----------- */

.cont_photo {
  position: relative;
  width: 280px;
  height: 340px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 5px;
  top: 20px;
  z-index: 2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
}

.cont_img_back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.cont_img_back > img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 1s;
  filter: saturate(110%);
}

.cont_img_back:hover > img {
  transform: scale(1.5);
}

.cont_mins {
  position: relative;
  float: left;
  width: 100%;
}

.sub_mins {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 253, 112, 0.8);
  border-radius: 50%;
  margin: 16px;
  margin-bottom: 0px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  text-align: center;
}

.sub_mins > h3 {
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: -15px;
}

.sub_mins > span {
  font-size: 9px;
  font-weight: 700;
}

.cont_servings {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 253, 112, 0.8);
  border-radius: 50%;
  margin: 16px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
  text-align: center;
}

.cont_servings > h3 {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: -15px;
  padding-bottom: 15%;
}

.cont_servings > span {
  font-size: 9px;
  font-weight: 700;
}
.cont_icon_top {
  position: relative;
  float: right;
  margin-top: 16px;
  margin-right: 16px;
}

.cont_icon_bottom {
  float: right;
  position: absolute;
  bottom: 270px;
  right: 0;
  margin-right: 16px;
}

.cont_icon_bottom:hover {
  float: right;
  position: absolute;
  bottom: 270px;
  right: 0;
  margin-right: 16px;
}

.icon:hover {
  color: #c8e280 !important;
}
.cont_detalles {
  position: absolute;
  bottom: -185px;
  height: 200px;
  border-radius: 5px;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 1.2s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
  text-align: center;
}

.cont_detalles > h3 {
  margin-top: 50px;
  color: #fff;
  font-size: 24px;
}

.cont_detalles > p {
  color: #fff;
  width: 80%;
  text-align: left;
  font-size: 14px;
}

.cont_photo:hover {
  box-shadow: 25px 10px 70px -5px rgba(0, 0, 0, 0.3);
}

.cont_photo > .cont_mins > .sub_mins {
  opacity: 1;
}

.cont_photo > .cont_servings {
  opacity: 1;
}

.cont_photo > .cont_detalles {
  bottom: 0px;
}
