.container {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: rgba(212, 206, 191, 1) 74%;
  height: 101.8vh !important;
}

.menu {
  background: rgb(148, 141, 122) 74% !important;
}

.redtxt {
  color: #a33c2c;
}

.redtxt2 {
  color: #69342c;
}

.link {
  color: #69342c;
}

.link:hover {
  color: #995045;
}

.pd {
  padding-left: 10% !important;
}

.list {
  text-align: left !important;
}
