:root {
  --main-color: #8d9c64;
  --secondary-color: #a33c2c;
}

.menu {
  background-color: #c7da99 !important;
}

#my-section {
  position: relative;
}
#wrap-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  text-align: center;
}
#wrap-cta.active {
  z-index: 2;
  transform: translate(-50%, -50%);
  transition: transform 0.6s, opacity 0.6s;
  opacity: 1;
}
#wrap-cta #cta {
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #f2f2f2;
  background: transparent;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.4s;
}

#wrap-cta #cta:hover {
  background: rgba(255, 255, 255, 0.1);
}

.error {
  background: #9c4b3e;
  opacity: 40%;
}

svg {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url("../public/thief_2.png");
}
svg .polymorph {
  fill: var(--main-color);
}
.container {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container #content {
  transform: translateY(-50px);
  opacity: 0;
  color: #69342c;
  transition: transform 0.6s 0.2s, opacity 0.6s 0.2s;
}

.container #content #close {
  display: inline-block;

  text-transform: uppercase;
  font-size: 0.9em;
  color: var(--main-color);
  background: transparent;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.4s;
}
.container #content #close:hover {
  background: var(--main-color);
  color: white;
}
.container #content.active {
  z-index: 4;
  transform: translateY(0);
  opacity: 1;
}

.wrapper {
  position: absolute;
  top: 70px;
  padding-left: 100%;
}

nav.ui.container .ui.header {
  margin-top: 12px;
}

nav.ui.container .ui.inverted.compact.menu {
  background-color: #8d9c64 !important;
}

.menu {
  background-color: #8d9c64 !important;
}

nav.ui.container .ui.inverted.compact.menu .item {
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 14px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 0;
}

nav.ui.container .ui.inverted.compact.menu .active.item {
  background-color: inherit;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.menuitem:hover {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: transparent !important;
}

.redtxt {
  color: #a33c2c;
}

.redtxt2 {
  color: #69342c;
}

.greentxt {
  color: #4a5237;
}
s .back {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.65) 100%,
    rgba(0, 0, 0, 0.65) 101%
  );
}
